/* larger screen / laptop devices */
@media screen and (min-width:769px) {
    .brand-logos{
        bottom: 20px;
        position: absolute;
        left:10px;
        height: 100%;
        width: 100%;
    }
    .page1-outlet-icons{
        width: 70px;
        height: 70px;
        position: absolute;
    }
    .page1-outlet-icon1{
        position: absolute;
        margin-left: 10%;
        bottom:-5%;
    }
    .page1-outlet-icon2{
        position: absolute;
        margin-left: 30%;
        top: 50%;
    }
    .page1-outlet-icon3{
        position: absolute;
        margin-left: 45%;
        bottom: 10%;
    }
    .page1-outlet-icon4{
        position: absolute;
        margin-left: 50%;
        bottom: 50%;
    }
    .page1-outlet-icon5{
        position: absolute;
        margin-left: 60%;
        top: 10%;
    }
    .page1-outlet-icon6{
        position: absolute;
        margin-left: 80%;
        top: 14%;
    }
}
/* tablet devices */

@media screen and (max-width:768px) {
    .brand-logos{
        
        bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        left:10px;
        width: 40vw;
    }
    

    .page1-outlet-icons{
     
        margin: 5px;
        width: 80px;
    }
}
/* mobile view */
@media screen and (max-width:500px) {
    .brand-logos{
        
        width: 40vw;
    }

    .page1-outlet-icons{
       
        width: 30px;
    }
}

