.landing-page{
    width: 100%;
    height: 100vh;
    margin-bottom: 500px;
    outline: auto;
    position: relative;
}
.landing-page .navbar{
    position: absolute;
    padding: 10px 30px;
    width: 150px;

}
.landing-page .navbar img{
    width: 100%;
}
.landing-page .landing-page-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    
}
.landing-items{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 60px;
}
.landing-items .right, .landing-items .left {
    width: 50%;
    height: 100%;
    /* height: inherit; */
    /* outline: auto; */
    padding-left: 2%;
    position: relative;
    /* outline: auto; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-evenly; */
}
.landing-items .left{
    padding-top: 10%;
    padding-left: 4vw;
    /* border: 2px solid green; */
}
.landing-items .left .title{
    
    font-size:2.2vw;
    font-weight: 700;

}
.landing-items .left .sub-title{
    font-size: 1.1vw;
    margin-top: 20px;
    font-weight: 500;
}
.landing-items .left .book-btn{
    /* width:200px;
    height: 100px; */
    text-decoration: none;
    width:120px;
    margin-top: 70px;
    padding: 15px 15px;
    border-radius: 7px;
    font-weight: 600;
    background-color: #2d66f5;
    color: white;
    cursor: pointer;
}
.landing-items .left .arrow{
    margin-top: 10px;
    margin-left: 50px;
    width:100px;
}

.right .my-profile{
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
}
.right .three-line{
    width: 2vw;
    position: absolute;
    top: 0;
    left:15px;
}



/* tablet devices */

@media screen and (max-width:768px) {
    .landing-items .left{
        width:100%;
        padding-top: 10px;
        padding-left: 4vw;
        /* outline: auto; */
    }
    
    .landing-items .left .title{
        font-size:35px;
        width:95%;
    }

    .landing-items .left .sub-title{
        font-size:18px;
        margin-top: 20px;
        width:85%;
    }
    .landing-items .left .book-btn{
        width:100px; 
        font-size: small;
        margin-top: 20px;
    
    }
    .landing-items .right{
        position: absolute;
        /* width: auto; */
        height: fit-content; 
        /* outline: auto; */
        right: 0;
        top:50vh;
    }
}

/* mobile devices */

@media screen and (max-width:425px) {

    .landing-page{
    
        height: 50vh;
    }
    .landing-items{
      
        top: 20px;
    }
    .landing-items .left{
        padding-top: 35px;
        padding-left: 50px;

    }
    .landing-items .left .title{
        font-size:20px;
        width:75%;
    }

    .landing-items .left .sub-title{
        font-size:12px;
        margin-top: 25px;
        width: 100%;
    }
    .landing-items .left .book-btn{
        width:100px; 
        font-size: small;
        margin-top: 10px;
    
    }
}